<!--breadcrumb start-->
<div class="breadcrumb-wrapper">
    <div class="container">
        <h1>Votre compte</h1>
    </div>
</div>

<% if current_user.id == @user.id %>

<div class="space-60"></div>
    <div class="container">
    	<h3>Vos informations</h3>
    	<p>Votre nom : <%= @user.firstname %></p>
    	<p>Votre prénom : <%= @user.name %></p>
    	<p>Votre adresse email : <%= @user.email %></p>
    	<!-- add a button to go to the edit page -->
    </div>

    <div class="space-60"></div>

    <div class="container">
        <h3>Vos commandes</h3>
        <% if @user.orders.count == 0 %>
        <p> Vous n'avez pas encore craqué pour nos petites bouilles de chatons, mais cela ne saurait tarder...</p>
        <%else%>

        <div class="space-60"></div>
        <div class="container">

            <% @user.orders.each do |order| %>

            <!-- date is printed twice, need to be fixed -->
            <h5>Votre commande du <%= order.created_at.strftime("%d-%m-%Y") %></h5>
            <div class="table-responsive table-order-history">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nom du produit</th>
                            <th>Prix</th>
                            <th>Quantité</th>
                        </tr>
                    </thead>
                
                    <tbody>
                        <tr>
                        <% order.products.each do |product| %>
                        <% if product.quantity > 0 %>
                            <td valign="middle">
                            <%= image_tag product.item.image_url, class: "img-responsive", alt: 'photo de chat', width: "80"%>
                            </td>
                            <td valign="middle"><%=product.item.title %></td>
                            <td valign="middle"><%=product.item.price/100 %>€</td>
                            <td valign="middle"><%= product.quantity %></td>
                            <% end %>
                        </tr>
                    <% end %>      
                    </tbody>
                </table>
            </div>
            <% end %>
        </div>
        <% end %>
    </div>
</div>

<% else %>

<p> Veuillez vous connecter pour accéder à votre profil </p>
<% end %>
