<!--breadcrumb start-->
<div class="breadcrumb-wrapper">
    <div class="container">
        <h1>Voici votre panier</h1>
    </div>
</div>
<!--end breadcrumb-->

<!-- Cart show view from template start -->
<% if total_quantity == 0 %>
<div class=""
    <p> Votre panier est vide ! </p>
    <%= link_to 'Retour aux photos de chatons', root_path %>
</div>

<% else %>
<div class="space-60"></div>
<div class="">
    <div class="table-responsive">
        <!-- Cart overview start-->
        <table class="table table-condensed cart-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- Maybe won't be @items, as we don't want all items-->


                <% current_user.cart.products.uniq.each do |product| %>
                <tr>
                    <% if product.quantity > 0 %>
                    <td class="product-image">
                        <%= image_tag product.item.image_url, class: "img-responsive", alt: 'photo de chat', width: "80"%>
                    </td>
                    <!-- title should be a link to "item show", give it a try-->
                    <td class='product-name'><a href="/items/<%=product.item.id%>"><%= product.item.title %></a></td>
                    <td class="product-price"><%= product.item.price / 100 %>€</td>
                    <td class="product-quantity">
                        <%= product.quantity %>
                        <%= link_to image_tag('plus.png', width:"20px", style:"margin-left:10px;"), add_to_cart_path(product.item) %>
                        <%= link_to (image_tag 'minus.png', width: "20px"), remove_from_cart_path(product.item) %>
                    </td>
                    <td class="product-quantity">

                    </td>
                    <!-- Changes according to the quantity of the product. Need to be edited-->
                    <td class="product-total">
                        <%= (product.item.price/100) * product.quantity %>€
                    </td>
                    <td class='product-delete'><a href='remove/<%=product.item.id%>' data-toggle='tooltip' data-placement='top' title='Remove this item'><i class="fa fa-times"></i>   Retirer du panier</a></td>
                    <%end%>
                </tr>
                <% end %>


            </tbody>
        </table><!--cart overview end -->
    </div>

    <div class="space-30"></div>
    <div class="cart-total">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-7">
                <h2>Panier total</h2>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr>
                            <td>Frais de livraisons</td>
                            <td>Offerts pour toutes nos photos !</td>
                        </tr>
                         <tr>
                            <td>Total</td>
                            <td class="total"><%= @total/100 %>€</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                            <!-- BOuton paiement Stripe -->
                            <%= form_tag paiement_panier_path do %>
                              <article>
                                <% if flash[:error].present? %>
                                  <div id="error_explanation">
                                    <p><%= flash[:error] %></p>
                                  </div>
                                <% end %>
                              </article>

                              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                                      data-description="Votre commande"
                                      data-amount= "<%= @total %>"
                                      data-currency = "eur"
                                      data-locale="auto"></script>
                            <% end %>
                            <!-- FIN - BOuton paiement Stripe -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<% end %>
