<h1> Créer un nouvel item </h1>

<%= form_tag (items_path), multipart: true do %>

<div class="row">
 <div class="col-md-6 col-md-offset-3">
   

 <p> <%= label_tag 'title', "Titre" %> </p>
 <p> <%= text_field_tag(:title) %> </p>  
s
 <p> <%= label_tag 'description', "Description"  %> </p>
 <p> <%= text_field_tag(:description) %> </p>

 <p> <%= label_tag 'price', "Price"  %> </p>
 <p> <%= number_field_tag(:description) %> </p>

 <p> <%= label_tag 'image', "Image" %> </p>
 <p> <%= file_field_tag(:price) %> </p>

<p> <%= submit_tag 'Je crée un item', class: "btn btn-primary"%></p>
 </div>
</div>

<% end %>