<!--breadcrumb start-->
<div class="breadcrumb-wrapper">
    <div class="container">
        <h1>Détails du produit</h1>
    </div>
</div>
<!--end breadcrumb-->

<div class="space-60"></div>
<div class="container">
    <div class="row single-product">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-5 margin-b-30">
                    <div class="item">
                    	<% if @item.image_url.nil? %>
                    		<%= image_tag @item.item_image.url(:medium) %>
                    	<% else %>
                       	 <%= image_tag @item.image_url, class: "img-responsive", alt: 'photo de chat' %>
                      <%s end %>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="product-detail-desc">
                        <h3 class="title"> Une belle photo de <%= @item.title %></h3>
                        <span class="price"> <%= @item.price/100 %> €</span>
                        <p><%= @item.description %></p>
                        <div class="available">En stock</div>
                        <div class="add-buttons">
                            <a href="/items/add/<%=@item.id%>" data-toggle="tooltip" data-placement="top" title="Add to cart" class="btn btn-skin btn-lg"><i class="fa fa-shopping-cart"></i> Ajouter au panier</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="sidebar-widget">
                <h3>Categories</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Noir et blanc</a></li>
                    <li><a href="#">Chats à poil long</a></li>
                    <li><a href="#">Chats à poil court</a></li>
                    <li><a href="#">Chats grognons</a></li>
                    <li><a href="#">Chats trognons</a></li>
                </ul>
            </div>
        </div>

        <div class="space-40"></div>

        <div class="row">
            <div class="col-md-12 item-more-info">
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-justified" role="tablist">
                        <li role="presentation" class="active"><a href="#desc" aria-controls="desc" role="tab" data-toggle="tab">Description</a></li>
                        <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a></li>
                        <li role="presentation"><a href="#add-cmnt" aria-controls="add-cmnt" role="tab" data-toggle="tab">Add Review</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="desc">
                            <p>
                                <%= @item.description %>
                            </p>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="reviews">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object img-circle" src="#" width="80" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h5>Emily</h5>
                                    <p>
                                        Curabitur pretium tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis et commodo pharetra, est eros bibendum elit, nec luctus magna felis sollicitudin mauris.
                                    </p>
                                    <span class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-empty"></i>
                                    </span>
                                </div>
                            </div><!--media-->
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object img-circle" src="#" width="80" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h5>Emily</h5>
                                    <p>
                                        Curabitur pretium tincidunt ou on peut drop des cours pas forcément en rapport avec le devlacus. Nulla gravida orci a odio. Nullam varius, turpis et commodo pharetra, est eros bibendum elit, nec luctus magna felis sollicitudin mauris.
                                    </p>
                                    <span class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-empty"></i>
                                    </span>
                                </div>
                            </div><!--media-->
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object img-circle" src="#" width="80" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h5>Emily</h5>
                                    <p>
                                        Curabitur pretium tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis et commodo pharetra, est eros bibendum elit, nec luctus magna felis sollicitudin mauris.
                                    </p>
                                    <span class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-empty"></i>
                                    </span>
                                </div>
                            </div><!--media-->
                        </div>
                        <div role="tabpanel" class="tab-pane" id="add-cmnt">
                            <form role="form" method="post" action="#">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="inputFirstName" class="control-label">First Name:<span class="text-error">*</span></label>
                                            <div>
                                                <input type="text" class="form-control" id="inputFirstName">
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="inputCompany" class="control-label">Company:</label>
                                            <div>
                                                <input type="text" class="form-control" id="inputCompany">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="review" class="control-label">Add Review:*</label>
                                            <textarea class="form-control" id="review">    </textarea>
                                        </div>
                                    </div>

                                </div>
                                <input type="submit" class="btn-skin btn btn-lg" value="Add Review">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--A changer quand on attaquera les catégories !-->

	<div class="space-40"></div>

	<div class="similar-products">
        <h2 class="section-heading">Produits similaires</h2>
		<div class="row">
            <% @similar_items.each do |item| %>
            <div class="col-sm-4">
                <div class="item_holder">
                    <div class="item">
                        <a href="/items/<%=item.id%>">
                        <%= image_tag item.image_url, class: "img-responsive", alt: 'photo de chat' %>
                        </a>
                    </div>
                    <div class="title">
                        <h5> <%= item.title %> <br></h5>
                        <span class="price"> <%= item.price %> € </span>
                        <p> <%= item.description %> </p>
                    </div>
                </div>
            </div>
            <% end %> <!--item holder-->
        </div><!--item holder-->
    </div>
</div>
