<!--breadcrumb start-->
<div class="breadcrumb-wrapper">
    <div class="container">
        <h1>Détails du produit</h1>
    </div>
</div>
<!--end breadcrumb-->

<div class="space-60"></div>
<div class="">
    <div class="row single-product">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-5 margin-b-30">
                    <div class="item">
                    	<% if @item.image_url.nil? %>
                    		<%= image_tag @item.item_image.url(:show), class: "img-responsive" %>
                    	<% else %>
                       	 <%= image_tag @item.image_url, class: "img-responsive", alt: 'photo de chat' %>
                      <% end %>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="product-detail-desc">
                        <h3 class="title"> Une belle photo de <%= @item.title %></h3>
                        <span class="price"> <%= @item.price/100 %> €</span>
                        <p><%= @item.description %></p>
                        <div class="available">En stock</div>
                        <div class="add-buttons">
                            <a href="/items/add/<%=@item.id%>" data-toggle="tooltip" data-placement="top" title="Add to cart" class="btn btn-skin btn-lg"><i class="fa fa-shopping-cart"></i> Ajouter au panier</a>
                        </div>
                        <% if current_user && current_user.admin? %>
                        <div class="add-buttons">
                            <%= link_to content_tag(:i, nil, class: 'fas fa-edit') + "Modifier le produit", edit_item_path(@item.id), class:"btn btn-skin btn-lg" %>
                        </div>
                        <%end%>
                    </div>
                </div>
            </div>
        </div>
<!--A changer quand on attaquera les catégories !-->

	<div class="space-40"></div>

	<div class="similar-products">
        <h2 class="section-heading">Produits similaires</h2>
		<div class="row">
            <% @similar_items.each do |item| %>
            <div class="col-sm-4">
                <div class="item_holder">
                    <div class="item">
                        <a href="/items/<%=item.id%>">
                        <%= image_tag item.image_url, class: "img-responsive", alt: 'photo de chat' %>
                        </a>
                    </div>
                    <div class="title">
                        <h5> <%= item.title %> <br></h5>
                        <span class="price"> <%= item.price/100 %> € </span>
                        <p> <%= item.description %> </p>
                    </div>
                </div>
            </div>
            <% end %> <!--item holder-->
        </div><!--item holder-->
    </div>
</div>
