<header>    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top yamm sticky navbar_kitten">
        <div class="container">
            <div class="navbar-header">  <!-- Zone LOGO + NOM DU SITE -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><%= image_tag 'cat_logo.png', alt: "logo chat", height:"30px" %> </a>
                <a class="navbar-brand" href="/">Kitten Market </a>
            </div>

            <div id="navbar" class="navbar-collapse collapse kitten_menuprincipal">
                <ul class="nav navbar-nav">
                    <li class="active"><%= link_to 'Accueil', root_path%></li>
                    <!--mega menu-->
                    <li class="dropdown yamm-fw"><!-- yamm-fw permet de mettre le menu en mega menu -->
                        <a href="#" class="kitten_lienpremierniveau" data-toggle="dropdown">Toutes nos images <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">

                                        <div class="col-sm-6">
                                            <h3 class="heading">Photos du moment </h3>
                                            <ul class="nav mega-vertical-nav">
                                                <li><a href="product-list.html"><i class="fas fa-list"></i> Product list</a></li>
                                                <li><a href="product-grid.html"><i class="fas fa-bars"></i> Product grid</a></li>
                                                <li><a href="product-detail.html"><i class="fas fa-angle-right"></i> Product Detail </a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6">
                                            <h3 class="heading">Les photos préférées de nos clients</h3>
                                            <ul class="nav mega-vertical-nav">
                                                <li><a href="product-list.html"><i class="fas fa-list"></i> Product list</a></li>
                                                <li><a href="product-grid.html"><i class="fas fa-bars"></i> Product grid</a></li>
                                                <li><a href="product-detail.html"><i class="fas fa-angle-right"></i> Product Detail </a></li>
                                          </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li> <!--menu Features li end here-->
                    <!--mega menu end-->

                    <li class="dropdown"> <!-- Menu Mon profil -->
                        <a href="#" class="kitten_lienpremierniveau kitten" data-toggle="dropdown">Mon profil <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">

                                            <ul class="nav nav-classic">
                                                <% if user_signed_in? %>
                                                          <li style="padding: 10px 15px;">Bonjour <%= current_user.firstname %>
                                                          </li>
                                                          <hr>
                                                          <li><%= link_to content_tag(:i, nil, class: 'fas fa-user dropdown-item') + "Modifier mon compte", edit_user_registration_path %>
                                                          </li>
                                                          <li><%= link_to content_tag(:i, nil, class: 'fas fa-sign-out-alt') + " Se déconnecter ", destroy_user_session_path, method: :delete  %>
                                                          </li>
                                                    <% else%>
                                                          <li><%= link_to content_tag(:i, nil, class: 'fas fa-sign-in-alt dropdown-item') + " Se connecter", new_user_session_path %>
                                                          </li>
                                                          <li><%= link_to content_tag(:i, nil, class: 'fas fa-user-plus') + " S'inscrire ", new_user_registration_path %>
                                                          </li>
                                                <% end %>

                                            </ul>

                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <% if user_signed_in? && current_user.cart %>
                    <li class="dropdown yamm-fw"><!-- Partie sur le PAnier -->
                        <a href="carts/<%=current_user.cart.id%>" class="kitten_lienpremierniveau" data-toggle="dropdown" role="button" aria-haspopup="true">Mon panier <i style="font-size: 17px;" class="fas fa-shopping-cart"></i> <span class="badge"><%=current_user.cart.items.count%></span></a>
                        <div class="dropdown-menu shopping-cart">

                            <div class="cart-header">
                                Votre panier contient <%=current_user.cart.items.count%> elements :
                            </div><!--end of cart-header-->

                            <div class="cart-items content-scroll">
                                <% current_user.cart.items.each do |item| %>
                                <div class="cart-item clearfix">
                                    <div class="description">
                                        <%= link_to item.title, item_path(item)%>
                                        <strong class="price"><%=item.price/100%></strong>
                                    </div><!--Description-->
                                    <div class="buttons">
                                        <!--  MODIFIER LE PATH Pour mettre le chemin vers l'edition de l'objet du panier et suppression de l'objet du panier -->
                                        <%= link_to content_tag(:i, nil, class: 'fas fa-edit'), root_path %>
                                        <%= link_to content_tag(:i, nil, class: 'fas fa-trash-alt'), root_path %>
                                    </div>
                                </div><!--cart item-->
                                <% end %>
                            </div><!--cart-items-->

                            <div class="cart-footer">
                                <%= link_to 'Voir le panier', cart_path(current_user.cart), class:"btn btn-light-dark"%>
                                <a href="#" class="btn btn-skin"> Passer la commande</a>
                            </div><!--footer of cart-->


                        </div><!--cart dropdown end-->
                    </li>
                    <% end %>

            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</header>
