<header>    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top yamm sticky navbar_kitten">
        <div class="container">
            <div class="navbar-header">  <!-- Zone LOGO + NOM DU SITE -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><%= image_tag 'cat_logo.png', alt: "logo chat", height:"30px" %> </a>
                <a class="navbar-brand" href="/">Kitten Market </a>
            </div>

            <div id="navbar" class="navbar-collapse collapse kitten_menuprincipal">
                <ul class="nav navbar-nav">
                    <li class="active dropdown"><%= link_to 'Accueil', root_path , class:"kitten_lienpremierniveau"%></li>
                    <li class="dropdown"> <!-- Menu Mon profil -->
                        <a href="#" class="kitten_lienpremierniveau kitten" data-toggle="dropdown">Mon profil <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">

                                            <ul class="nav nav-classic">
                                                <% if user_signed_in? %>
                                                          <li style="padding: 10px 15px;">Bonjour <%= current_user.firstname %>
                                                          </li>
                                                          <hr>
                                                          <li><%= link_to content_tag(:i, nil, class: 'fas fa-user-circle') + "Voir mon compte et mes commandes", user_profile_path(current_user.id) %>
                                                          </li>
                                                          <li><%= link_to content_tag(:i, nil, class: 'fas fa-cogs') + "Modifier mon compte", edit_user_registration_path %>
                                                          </li>
                                                          <% if current_user && current_user.admin? %>
                                                          <li><%= link_to content_tag(:i, nil, class: 'fas fa-arrow-circle-down') + "Ajouter une photo dans la boutique", new_item_path %>
                                                          </li>
                                                          <li><%= link_to content_tag(:i, nil, class: 'far fa-calendar-alt') + "Voir toutes les commandes passées", orders_path %>
                                                          </li>
                                                          <% end %>
                                                          <li><%= link_to content_tag(:i, nil, class: 'fas fa-sign-out-alt') + " Se déconnecter ", destroy_user_session_path, method: :delete  %>
                                                          </li>
                                                    <% else%>
                                                          <li><%= link_to content_tag(:i, nil, class: 'fas fa-sign-in-alt dropdown-item') + " Se connecter", new_user_session_path %>
                                                          </li>
                                                          <li><%= link_to content_tag(:i, nil, class: 'fas fa-user-plus') + " S'inscrire ", new_user_registration_path %>
                                                          </li>
                                                <% end %>

                                            </ul>

                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <% if user_signed_in? && current_user.cart %>
                    <li class="dropdown yamm-fw dropdown-panier"><!-- Partie sur le PAnier -->
                        <%= link_to 'Mon panier', cart_path(current_user.cart.id), class: "kitten_lienpremierniveau", data: {toggle:"dropdown", role:"button"} %>
                        <i style="font-size: 17px; margin: 0 6px 0px -6px;" class="fas fa-shopping-cart"></i> <span class="badge" style="padding: 6px 10px 6px 10px; background-color: lightskyblue;"><%= total_quantity.to_i %></span></a>
                        <div class="dropdown-menu shopping-cart">

                            <div class="cart-header">
                                Votre panier contient <%= total_quantity.to_i %> elements :
                            </div><!--end of cart-header-->

                            <div class="cart-items content-scroll">
                                <% current_user.cart.products.uniq.each do |product| %>
                                <% if product.quantity > 0 %>
                                <div class="cart-item clearfix">

                                    <div class="description">
                                        <%= link_to product.item.title, item_path(product.item)%>
                                        <strong class="price"><%=product.item.price/100%>€. Quantité : <%=product.quantity%></strong>
                                    </div><!--Description-->

                                    <div class="buttons">
                                        <!--  MODIFIER LE PATH Pour mettre le chemin vers l'edition de l'objet du panier et suppression de l'objet du panier -->
                                        <%= link_to content_tag(:i, nil, class: 'fas fa-edit'), root_path %>
                                        <%= link_to content_tag(:i, nil, class: 'fas fa-trash-alt'), remove_from_cart_path(product.item.id) %>
                                    </div>
                                    <%end%>
                                </div><!--cart item-->
                                <% end %>
                            </div><!--cart-items-->

                        </div><!--cart dropdown end-->
                    </li>
                    <% end %>

            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</header>
