<!DOCTYPE html>
<html>
  <head>
    <title>Kitten Market</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://use.fontawesome.com/releases/v5.0.8/js/all.js", 'data-turbolinks-track': 'reload'%>
    <%= favicon_link_tag 'cat_logo.png' %>

  </head>
<body>
  	<%= render 'layouts/header' %>
    <div class="container">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
