<!--breadcrumb start-->
<div class="breadcrumb-wrapper">
    <div class="container">
        <h1>Éditez votre compte</h1>
    </div>
</div>
<!--end breadcrumb-->

<!--form start, in bootstrap template-->
<div class="space-60"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="sky-form-login">
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                    <%= devise_error_messages! %>
                    <h3 class="text-left">Éditez votre compte</h3>
                    <fieldset>
                            <div class="field input">
                                <br />
                                <%= f.label :"Prénom :" %>
                                <%= f.text_field :firstname, autofocus: true, placeholder: "Prénom", autocomplete: "firstname" %>
                            </div>

                            <div class="field input">
                                <%= f.label :"Nom :" %>
                                <%= f.text_field :name, autofocus: true, placeholder: "Nom",autocomplete: "name" %>
                            </div>

                            <div class="field input">
                                <%= f.label :"Email :" %>
                                <%= f.text_field :email, autofocus: true, placeholder: "Email", autocomplete: "email" %>
                            </div>
                            <br>

                            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                            <% end %>

                            <div class="field input">
                                <i>Ignorez si vous ne voulez pas modifier</i><br />
                                <%= f.label :"Mot de passe :" %>
                                <%= f.password_field :password, placeholder: "Mot de passe", :id => 'password', autocomplete: "off" %>
                                <br /><% if @minimum_password_length %>
                                <em>(<%= @minimum_password_length %> caractères minimum)</em>
                                <% end %>
                            </div>

                            <div class="field input">
                                <%= f.label :"Confirmer le mot de passe :" %>
                                <%= f.password_field :password_confirmation,placeholder: "Confirmation", autocomplete: "off" %>
                            </div>
                            <br>

                            <div class="field input">
                                <i>Renseignez votre mot de passe actuel pour valider les changements</i><br />
                                <%= f.label :current_password %> 
                                <%= f.password_field :current_password, autocomplete: "off", placeholder: "Mot de passe actuel" %>
                            </div>
                    </fieldset>

                    <%= f.submit "J'édite mon compte", class: "actions btn btn-skin btn-lg", style: "margin-top: 20px;" %>
                    <% end %>
                <!--form end-->
            </div>
        </div><!--col end-->
        <!--A button to destroy the profile-->
        <div class="col-md-4">
            <div class="login-register-aside-box">
                <h3>Supprimer votre compte</h3>
                <p>
                  Vous n'aimez pas les chatons ? Nous ne vous jugeons pas... <%= button_to "Supprimer mon compte" , registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-light-dark btn-lg" %> 
                </p>
                <br>
                <!-- This button should be deleted later-->
                <!-- <%= link_to "Connectez-vous", new_user_session_path, class: "btn btn-light-dark btn-lg" %> -->
            </div>
        </div>
    </div>
</div>

<%= link_to "Back", :back %>
